<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 
    <div class="about content">
        <h2>ABOUT</h2>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quos sint facere eligendi, earum debitis, soluta cupiditate quis aspernatur, eaque optio voluptatum quaerat quidem illo repellat blanditiis aut necessitatibus ullam.</P>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque doloremque dolorum impedit consequuntur! Consectetur fugit, quo eaque aspernatur labore cumque sapiente ratione voluptate laudantium quam, atque mollitia, dolorem aliquid pariatur!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ipsa maxime ut, sapiente asperiores quis nesciunt autem quidem ex nam vel accusamus ad iusto corrupti nihil non provident corporis officia?</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>